* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(https://i.pinimg.com/736x/14/45/2c/14452ca0dc4690a2fabcf65ad18ac276.jpg);
    background-size:cover ;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh;
    padding: 40px 20px;
    color: #000000;
    flex-direction: column;
}
form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow:  0 0 100px rgba(0,0,0,0.1);
    padding: 25px;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}
select{ width: 100%;
    padding: 12px 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #fca4ce;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    text-decoration: underline;
}
